.react-tree-node-toggle{
  display:inline;
}
.react-tree-node-toggle:active{
  border-width:0px;
}
.react-tree-node-children{
  padding-left:15px;
}

.react-tree-node-actions{
  float:right;
  border-radius:4px;
    background-color:rgba(200,200,200,0.8)
}

.react-tree-node-title{
 white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis; 
    max-width:100%;
    width:100%;
    display:inline;
}
.react-tree-node-header[active="active"],.react-tree-node-header[active="active"]:hover{
  background-color:#D0D0D0;
}
.react-tree-node-header .react-tree-node-actions{
  visibility: hidden;
  position:absolute;
  top:0px;
  right:0px;
}
.react-tree-node-header{
  background-color: white;
  box-sizing: content-box;
  cursor:default;
  width:100%;
  display:flex;
  align-items: 'center';
  border-top:2px solid transparent;
  border-bottom:2px solid transparent;
  overflow:hidden;
      text-overflow:ellipsis; 
  white-space:nowrap;
  position:relative;
    padding-top: 2px;
  padding-bottom:2px;
}
.react-tree-node-header:hover{
  background-color:#E0E0E0;
}
.react-tree-node-header:hover .react-tree-node-actions{
  background-color:rgba(0.9,0.9,0.9);
  visibility: visible;
}
